#menu{
	background-color: white;
	width: 97,5%;
}

#judul{
	 background-color: black;
	 color: white;
	 width: 60%;
}
.in{cursor: pointer}
.un{cursor: pointer}
.en{cursor: pointer}
.an{cursor: pointer}
.omaga{background-color: red !important;}
#body{background-color: yellow;}
